<!-- zadanie_2_radio.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
<p>Choose an option:</p>

<div>
    <!--input type="checkbox" id="op1"-->
    <input type="radio" id="op1">
    <label for="op1">opcja 1</label>
</div>

<div>
    <!--input type="checkbox" id="op2"-->
    <input type="radio" id="op2">
    <label for="op2">opcja 2</label>
</div>

<div>
    <!--input type="checkbox" id="op3"-->
    <input type="radio" id="op3">
    <label for="op3">opcja 3</label>
</div>

</body>
</html>